In [1]:
import pandas as pd

In [2]:
data = pd.read_csv('data_ejemplo/sensor.csv')

In [3]:
data.head()

,Unnamed: 0,timestamp,sensor_00,sensor_01,sensor_02,sensor_03,sensor_04,sensor_05,sensor_06,sensor_07,...,sensor_43,sensor_44,sensor_45,sensor_46,sensor_47,sensor_48,sensor_49,sensor_50,sensor_51,machine_status;;;;;;;;
0,0,2018-04-01 00:00:00,2.465394,47.09201,53.2118,46.310760,634.3750,76.45975,13.41146,16.13136,...,41.92708,39.641200,65.68287,50.92593,38.194440,157.9861,67.70834,243.0556,201.3889,NORMAL;;;;;;;;
1,1,2018-04-01 00:01:00,2.465394,47.09201,53.2118,46.310760,634.3750,76.45975,13.41146,16.13136,...,41.92708,39.641200,65.68287,50.92593,38.194440,157.9861,67.70834,243.0556,201.3889,NORMAL;;;;;;;;
2,2,2018-04-01 00:02:00,2.444734,47.35243,53.2118,46.397570,638.8889,73.54598,13.32465,16.03733,...,41.66666,39.351852,65.39352,51.21528,38.194443,155.9606,67.12963,241.3194,203.7037,NORMAL;;;;;;;;
3,3,2018-04-01 00:03:00,2.460474,47.09201,53.1684,46.397568,628.1250,76.98898,13.31742,16.24711,...,40.88541,39.062500,64.81481,51.21528,38.194440,155.9606,66.84028,240.4514,203.1250,NORMAL;;;;;;;;
4,4,2018-04-01 00:04:00,2.445718,47.13541,53.2118,46.397568,636.4583,76.58897,13.35359,16.21094,...,41.40625,38.773150,65.10416,51.79398,38.773150,158.2755,66.55093,242.1875,201.3889,NORMAL;;;;;;;;

In [4]:
data.shape

(220321, 55)

In [5]:
data.head()

,Unnamed: 0,timestamp,sensor_00,sensor_01,sensor_02,sensor_03,sensor_04,sensor_05,sensor_06,sensor_07,...,sensor_43,sensor_44,sensor_45,sensor_46,sensor_47,sensor_48,sensor_49,sensor_50,sensor_51,machine_status;;;;;;;;
0,0,2018-04-01 00:00:00,2.465394,47.09201,53.2118,46.310760,634.3750,76.45975,13.41146,16.13136,...,41.92708,39.641200,65.68287,50.92593,38.194440,157.9861,67.70834,243.0556,201.3889,NORMAL;;;;;;;;
1,1,2018-04-01 00:01:00,2.465394,47.09201,53.2118,46.310760,634.3750,76.45975,13.41146,16.13136,...,41.92708,39.641200,65.68287,50.92593,38.194440,157.9861,67.70834,243.0556,201.3889,NORMAL;;;;;;;;
2,2,2018-04-01 00:02:00,2.444734,47.35243,53.2118,46.397570,638.8889,73.54598,13.32465,16.03733,...,41.66666,39.351852,65.39352,51.21528,38.194443,155.9606,67.12963,241.3194,203.7037,NORMAL;;;;;;;;
3,3,2018-04-01 00:03:00,2.460474,47.09201,53.1684,46.397568,628.1250,76.98898,13.31742,16.24711,...,40.88541,39.062500,64.81481,51.21528,38.194440,155.9606,66.84028,240.4514,203.1250,NORMAL;;;;;;;;
4,4,2018-04-01 00:04:00,2.445718,47.13541,53.2118,46.397568,636.4583,76.58897,13.35359,16.21094,...,41.40625,38.773150,65.10416,51.79398,38.773150,158.2755,66.55093,242.1875,201.3889,NORMAL;;;;;;;;

In [6]:
data.tail()

,Unnamed: 0,timestamp,sensor_00,sensor_01,sensor_02,sensor_03,sensor_04,sensor_05,sensor_06,sensor_07,...,sensor_43,sensor_44,sensor_45,sensor_46,sensor_47,sensor_48,sensor_49,sensor_50,sensor_51,machine_status;;;;;;;;
220316,220316,2018-08-31 23:56:00,2.400463,47.69965,50.564240,43.142361,630.902771,65.83363,15.15480,16.70284,...,38.28125,66.84028,50.63657,48.03241,40.798610,213.8310,156.2500,NaN,231.1921,NORMAL;;;;;;;;
220317,220317,2018-08-31 23:57:00,2.396528,47.69965,50.520830,43.142361,625.925903,67.29445,15.08970,16.70284,...,39.06250,65.39352,48.90046,48.03241,40.798610,217.3032,155.3819,NaN,232.0602,NORMAL;;;;;;;;
220318,220318,2018-08-31 23:58:00,2.406366,47.69965,50.520832,43.142361,635.648100,65.09175,15.11863,16.56539,...,40.62500,64.23611,47.74306,48.32176,40.509258,222.5116,153.9352,NaN,234.0856,NORMAL;;;;;;;;
220319,220319,2018-08-31 23:59:00,2.396528,47.69965,50.520832,43.142361,639.814800,65.45634,15.11863,16.65220,...,41.40625,62.78935,46.29630,48.90046,40.219910,227.4306,150.4630,NaN,234.0856,NORMAL;;;;;;;;
220320,3,3,1.000000,1.00000,0.000000,0.000000,0.000000,1.00000,0.00000,1.00000,...,0.00000,0.00000,0.00000,1.00000,1.000000,0.0000,1.0000,0.0,0.0000,2;;;;;;;;

## EDA

In [7]:
data.info()

<class 'pandas.DataFrame'>
RangeIndex: 220321 entries, 0 to 220320
Data columns (total 55 columns):
 #   Column                  Non-Null Count   Dtype
---  ------                  --------------   -----
 0   Unnamed: 0              220321 non-null  int64
 1   timestamp               220321 non-null  str
 2   sensor_00               210113 non-null  float64
 3   sensor_01               219952 non-null  float64
 4   sensor_02               220302 non-null  float64
 5   sensor_03               220302 non-null  float64
 6   sensor_04               220302 non-null  float64
 7   sensor_05               220302 non-null  float64
 8   sensor_06               215523 non-null  float64
 9   sensor_07               214870 non-null  float64
 10  sensor_08               215214 non-null  float64
 11  sensor_09               215726 non-null  float64
 12  sensor_10               220302 non-null  float64
 13  sensor_11               220302 non-null  float64
 14  sensor_12               220302 non-null  float64
 15  sensor_13               220302 non-null  float64
 16  sensor_14               220300 non-null  float64
 17  sensor_15               1 non-null       float64
 18  sensor_16               220290 non-null  float64
 19  sensor_17               220275 non-null  float64
 20  sensor_18               220275 non-null  float64
 21  sensor_19               220305 non-null  float64
 22  sensor_20               220305 non-null  float64
 23  sensor_21               220305 non-null  float64
 24  sensor_22               220280 non-null  float64
 25  sensor_23               220305 non-null  float64
 26  sensor_24               220305 non-null  float64
 27  sensor_25               220285 non-null  float64
 28  sensor_26               220301 non-null  float64
 29  sensor_27               220305 non-null  float64
 30  sensor_28               220305 non-null  float64
 31  sensor_29               220249 non-null  float64
 32  sensor_30               220060 non-null  float64
 33  sensor_31               220305 non-null  float64
 34  sensor_32               220253 non-null  float64
 35  sensor_33               220305 non-null  float64
 36  sensor_34               220305 non-null  float64
 37  sensor_35               220305 non-null  float64
 38  sensor_36               220305 non-null  float64
 39  sensor_37               220305 non-null  float64
 40  sensor_38               220294 non-null  float64
 41  sensor_39               220294 non-null  float64
 42  sensor_40               220294 non-null  float64
 43  sensor_41               220294 non-null  float64
 44  sensor_42               220294 non-null  float64
 45  sensor_43               220294 non-null  float64
 46  sensor_44               220294 non-null  float64
 47  sensor_45               220294 non-null  float64
 48  sensor_46               220294 non-null  float64
 49  sensor_47               220294 non-null  float64
 50  sensor_48               220294 non-null  float64
 51  sensor_49               220294 non-null  float64
 52  sensor_50               143304 non-null  float64
 53  sensor_51               204938 non-null  float64
 54  machine_status;;;;;;;;  220321 non-null  str
dtypes: float64(52), int64(1), str(2)
memory usage: 92.5 MB

#### Eliminacion de ruido

In [8]:
cleaned_data = data.copy()

In [9]:
cleaned_data = cleaned_data.iloc[:-1]

In [10]:
cleaned_data.head()

,Unnamed: 0,timestamp,sensor_00,sensor_01,sensor_02,sensor_03,sensor_04,sensor_05,sensor_06,sensor_07,...,sensor_43,sensor_44,sensor_45,sensor_46,sensor_47,sensor_48,sensor_49,sensor_50,sensor_51,machine_status;;;;;;;;
0,0,2018-04-01 00:00:00,2.465394,47.09201,53.2118,46.310760,634.3750,76.45975,13.41146,16.13136,...,41.92708,39.641200,65.68287,50.92593,38.194440,157.9861,67.70834,243.0556,201.3889,NORMAL;;;;;;;;
1,1,2018-04-01 00:01:00,2.465394,47.09201,53.2118,46.310760,634.3750,76.45975,13.41146,16.13136,...,41.92708,39.641200,65.68287,50.92593,38.194440,157.9861,67.70834,243.0556,201.3889,NORMAL;;;;;;;;
2,2,2018-04-01 00:02:00,2.444734,47.35243,53.2118,46.397570,638.8889,73.54598,13.32465,16.03733,...,41.66666,39.351852,65.39352,51.21528,38.194443,155.9606,67.12963,241.3194,203.7037,NORMAL;;;;;;;;
3,3,2018-04-01 00:03:00,2.460474,47.09201,53.1684,46.397568,628.1250,76.98898,13.31742,16.24711,...,40.88541,39.062500,64.81481,51.21528,38.194440,155.9606,66.84028,240.4514,203.1250,NORMAL;;;;;;;;
4,4,2018-04-01 00:04:00,2.445718,47.13541,53.2118,46.397568,636.4583,76.58897,13.35359,16.21094,...,41.40625,38.773150,65.10416,51.79398,38.773150,158.2755,66.55093,242.1875,201.3889,NORMAL;;;;;;;;

#### Formato correcto del timestamp

In [11]:
cleaned_data['timestamp'] = pd.to_datetime(cleaned_data['timestamp'])

In [12]:
cleaned_data.info()

<class 'pandas.DataFrame'>
RangeIndex: 220320 entries, 0 to 220319
Data columns (total 55 columns):
 #   Column                  Non-Null Count   Dtype
---  ------                  --------------   -----
 0   Unnamed: 0              220320 non-null  int64
 1   timestamp               220320 non-null  datetime64[us]
 2   sensor_00               210112 non-null  float64
 3   sensor_01               219951 non-null  float64
 4   sensor_02               220301 non-null  float64
 5   sensor_03               220301 non-null  float64
 6   sensor_04               220301 non-null  float64
 7   sensor_05               220301 non-null  float64
 8   sensor_06               215522 non-null  float64
 9   sensor_07               214869 non-null  float64
 10  sensor_08               215213 non-null  float64
 11  sensor_09               215725 non-null  float64
 12  sensor_10               220301 non-null  float64
 13  sensor_11               220301 non-null  float64
 14  sensor_12               220301 non-null  float64
 15  sensor_13               220301 non-null  float64
 16  sensor_14               220299 non-null  float64
 17  sensor_15               0 non-null       float64
 18  sensor_16               220289 non-null  float64
 19  sensor_17               220274 non-null  float64
 20  sensor_18               220274 non-null  float64
 21  sensor_19               220304 non-null  float64
 22  sensor_20               220304 non-null  float64
 23  sensor_21               220304 non-null  float64
 24  sensor_22               220279 non-null  float64
 25  sensor_23               220304 non-null  float64
 26  sensor_24               220304 non-null  float64
 27  sensor_25               220284 non-null  float64
 28  sensor_26               220300 non-null  float64
 29  sensor_27               220304 non-null  float64
 30  sensor_28               220304 non-null  float64
 31  sensor_29               220248 non-null  float64
 32  sensor_30               220059 non-null  float64
 33  sensor_31               220304 non-null  float64
 34  sensor_32               220252 non-null  float64
 35  sensor_33               220304 non-null  float64
 36  sensor_34               220304 non-null  float64
 37  sensor_35               220304 non-null  float64
 38  sensor_36               220304 non-null  float64
 39  sensor_37               220304 non-null  float64
 40  sensor_38               220293 non-null  float64
 41  sensor_39               220293 non-null  float64
 42  sensor_40               220293 non-null  float64
 43  sensor_41               220293 non-null  float64
 44  sensor_42               220293 non-null  float64
 45  sensor_43               220293 non-null  float64
 46  sensor_44               220293 non-null  float64
 47  sensor_45               220293 non-null  float64
 48  sensor_46               220293 non-null  float64
 49  sensor_47               220293 non-null  float64
 50  sensor_48               220293 non-null  float64
 51  sensor_49               220293 non-null  float64
 52  sensor_50               143303 non-null  float64
 53  sensor_51               204937 non-null  float64
 54  machine_status;;;;;;;;  220320 non-null  str
dtypes: datetime64[us](1), float64(52), int64(1), str(1)
memory usage: 92.5 MB

In [13]:
cleaned_data.head()

,Unnamed: 0,timestamp,sensor_00,sensor_01,sensor_02,sensor_03,sensor_04,sensor_05,sensor_06,sensor_07,...,sensor_43,sensor_44,sensor_45,sensor_46,sensor_47,sensor_48,sensor_49,sensor_50,sensor_51,machine_status;;;;;;;;
0,0,2018-04-01 00:00:00,2.465394,47.09201,53.2118,46.310760,634.3750,76.45975,13.41146,16.13136,...,41.92708,39.641200,65.68287,50.92593,38.194440,157.9861,67.70834,243.0556,201.3889,NORMAL;;;;;;;;
1,1,2018-04-01 00:01:00,2.465394,47.09201,53.2118,46.310760,634.3750,76.45975,13.41146,16.13136,...,41.92708,39.641200,65.68287,50.92593,38.194440,157.9861,67.70834,243.0556,201.3889,NORMAL;;;;;;;;
2,2,2018-04-01 00:02:00,2.444734,47.35243,53.2118,46.397570,638.8889,73.54598,13.32465,16.03733,...,41.66666,39.351852,65.39352,51.21528,38.194443,155.9606,67.12963,241.3194,203.7037,NORMAL;;;;;;;;
3,3,2018-04-01 00:03:00,2.460474,47.09201,53.1684,46.397568,628.1250,76.98898,13.31742,16.24711,...,40.88541,39.062500,64.81481,51.21528,38.194440,155.9606,66.84028,240.4514,203.1250,NORMAL;;;;;;;;
4,4,2018-04-01 00:04:00,2.445718,47.13541,53.2118,46.397568,636.4583,76.58897,13.35359,16.21094,...,41.40625,38.773150,65.10416,51.79398,38.773150,158.2755,66.55093,242.1875,201.3889,NORMAL;;;;;;;;

In [14]:
cleaned_data = cleaned_data.sort_values(by='timestamp')

In [21]:
cleaned_data.head()

NameError: name 'cleaned_data' is not defined

#### Renombrado

In [16]:
cleadned_data = cleadned_data.rename(columns={'machine_status;;;;;;;;': 'machine_status'})

In [17]:
cleaned_data.head()

,Unnamed: 0,timestamp,sensor_00,sensor_01,sensor_02,sensor_03,sensor_04,sensor_05,sensor_06,sensor_07,...,sensor_43,sensor_44,sensor_45,sensor_46,sensor_47,sensor_48,sensor_49,sensor_50,sensor_51,machine_status
0,0,2018-04-01 00:00:00,2.465394,47.09201,53.2118,46.310760,634.3750,76.45975,13.41146,16.13136,...,41.92708,39.641200,65.68287,50.92593,38.194440,157.9861,67.70834,243.0556,201.3889,NORMAL;;;;;;;;
1,1,2018-04-01 00:01:00,2.465394,47.09201,53.2118,46.310760,634.3750,76.45975,13.41146,16.13136,...,41.92708,39.641200,65.68287,50.92593,38.194440,157.9861,67.70834,243.0556,201.3889,NORMAL;;;;;;;;
2,2,2018-04-01 00:02:00,2.444734,47.35243,53.2118,46.397570,638.8889,73.54598,13.32465,16.03733,...,41.66666,39.351852,65.39352,51.21528,38.194443,155.9606,67.12963,241.3194,203.7037,NORMAL;;;;;;;;
3,3,2018-04-01 00:03:00,2.460474,47.09201,53.1684,46.397568,628.1250,76.98898,13.31742,16.24711,...,40.88541,39.062500,64.81481,51.21528,38.194440,155.9606,66.84028,240.4514,203.1250,NORMAL;;;;;;;;
4,4,2018-04-01 00:04:00,2.445718,47.13541,53.2118,46.397568,636.4583,76.58897,13.35359,16.21094,...,41.40625,38.773150,65.10416,51.79398,38.773150,158.2755,66.55093,242.1875,201.3889,NORMAL;;;;;;;;

In [18]:
print(cleadned_data['machine_status'].unique())

<StringArray>
['NORMAL;;;;;;;;', 'BROKEN;;;;;;;;', 'RECOVERING;;;;;;;;']
Length: 3, dtype: str

In [19]:
# Clean up the values in 'machine_status' column to remove trailing semicolons
cleaned_data['machine_status'] = cleaned_data['machine_status'].str.replace(';', '', regex=False)